@model IEnumerable<Poultry.Models.Trader>

@{
    ViewBag.Title = "Traders";
}

<h2>Master >> Traders List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (Model.Count() > 0)
{
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDue)
            </th>
            <th>Operations</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentDue)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    <div id="PageList" style="width: 100%; text-align: right; padding-top: 10px">
        @if (ViewBag.Paging)
        {
            for (int i = 0; i * ViewBag.PazeSize < ViewBag.Count; i++)
            {
                if (i >= ViewBag.Page - 1 && i <= ViewBag.Page + 1)
                {
                    if (i > 2 && i == ViewBag.Page - 1)
                    {
            <span style="padding: 3px; font-size: xx-large;">.</span>
            <span style="padding: 3px; font-size: xx-large;">.</span>
                    }
            <span style="padding: 3px;">
                @if (ViewBag.Page == i)
                {
                    <strong style="background-color: coral">@Html.DisplayName((i + 1).ToString())</strong>
                }
                else
                {
                    @Html.ActionLink((i + 1).ToString(), "Index", new { page = (i + 1).ToString() })
                }
            </span>
                if (i * ViewBag.PazeSize < ViewBag.Count - (ViewBag.PazeSize * 3) && i == ViewBag.Page + 1)
                {
            <span style="padding: 3px; font-size: xx-large;">.</span>
            <span style="padding: 3px; font-size: xx-large;">.</span>
                }
                }
                else
                {
                    if (i <= 1 || i * ViewBag.PazeSize >= ViewBag.Count - (ViewBag.PazeSize * 2))
                    {
            <span style="padding: 3px;">
                @Html.ActionLink((i + 1).ToString(), "Index", new { page = (i + 1).ToString() })
            </span>
                    }
                }
            }
        }
        else
        {
            @Html.ActionLink("Back to List", "Index")
        }
    </div>
}
else
{
    <strong>Empty.<br />
        Please Add Traders First.</strong>   
}