@model IEnumerable<Poultry.Models.ViewModels.FarmerActivity>

@{
    ViewBag.Title = "ActiveFarmers";
}

<h2>Supervision >> Active Farmers</h2>

<p>
</p>
@if (Model.Count() > 0)
{
    <table>
        <tr>
            <th>Delivery Date
            </th>
            <th>Name
            </th>
            <th>Address
            </th>
            <th>Contact No.
            </th>
            <th>No. of Chicks
            </th>
            <th>No. of Chicks Alive
            </th>
            <th>Chicks Age
            </th>
            <th>Current Weight
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ActivityDate.ToString("dd-MMM-yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Farmer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Farmer.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Farmer.ContactNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfChicks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChicksAlive)
                </td>
                <td>
                    @((DateTime.Today - item.ActivityDate.Date).Days + 1) Day(s)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentWeight)
                </td>
                <td>
                    @Html.ActionLink("Add Report", "AddReport", new { id = item.Farmer.Id })
                </td>
            </tr>
        }
    </table>
}
else
{
    <strong>No Active Farmer !!!</strong>
}

