@{
    ViewBag.Title = "Lifting";
    var _traderList = (SelectList)ViewBag.TraderList;
    var _matureChicks = ((IEnumerable<Poultry.Models.FarmerLog>)ViewBag.MatureChicks).ToArray();
}

<style>
    strong {
        padding-right: 20px;
    }
</style>

<h2 style="float: left">Supervision >> Lifting on :</h2>
@using (Html.BeginForm())
{
    <input type="text" class="datepicker" name="Date" value="@DateTime.Now.ToString("dd-MMM-yyyy")" style="margin-top: 23px; margin-left: 5px; width:20%" />
    <p></p>
    <strong>Select Trader : </strong>
    @Html.DropDownList("TraderId", _traderList, "Select Trader", new { data_val_required = "Please ensure you have selected a trader.", data_val = "true" })
    <p></p>
    <strong>Availability : </strong>
    if (_matureChicks.Count() > 0)
    {
    <table>
        <tr>
            <th>Farmer</th>
            <th>Chicken age</th>
            <th>Count</th>
            <th>Lift</th>
        </tr>
        @for (int i = 0; i < _matureChicks.Count(); i++)
        {
            var m = _matureChicks[i];
            <tr>
                <td>@m.Farmer.Name</td>
                <td>@((DateTime.Now - m.Date).Days) Days</td>
                <td><span class="availableChicks">@(m.Items.Where(t => t.Item.Type == Poultry.Models.StockType.Chicken).First().Qty - m.Lifted - m.TotalDeath)</span> Nos.</td>
                <td>
                    <input type="hidden" name="[@i].Id" value="@m.Id" />
                    <input type="text" class="liftQty validate-numberonly" name="[@i].Payment" style="width:40px"/>
                </td>
            </tr>
        }
    </table>
    <p></p>
    <strong>Total Price :  </strong>
    <input type="text" name="TotalPrice" value="0" class="validate-numberonly"/>
    <p></p>
    <strong>Payment Received :</strong>
    <input type="text" name="Payment" value="0"  class="validate-numberonly"/>
    <p></p>
    <strong>Payment Mode :</strong>
    @*<input type="text" name="PaymentMode" />*@
    <select name="PaymentMode" >
        <option value="By Cash">By Cash</option>
        <option value="By Cheque">By Cheque</option>
        <option value="Online Transfer">Online Transfer</option>
    </select> 
    <p></p>
    <input id="btnSubmit" type="submit" value="Lift" />
    }
    else
    {
    <strong>No Chicks Available for Lifting !!!</strong>   
    }
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSubmit').click(function (e) {
            if ($('#TraderId').val() == '') {
                Alert("Please select a Trader!!!", 'error');
                e.preventDefault();
                return false;
            }
            var liftQty = $('.liftQty');
            var isAllEmpty = true;
            for (var i = 0; i < liftQty.length; i++) {
                if ($(liftQty[i]).val() != '' && !isNaN(parseInt($(liftQty[i]).val()))) {
                    isAllEmpty = false;
                    break;
                }
            }
            if (isAllEmpty){
                Alert("Please enter atleast one value to lift", 'error');
                e.preventDefault();
                return false;
            }
            var liftings = $('.availableChicks');
            $(liftings).each(function () {
                var liftQty = $(this).parent().next().find('input.liftQty').val();
                if (liftQty != '' && parseInt(liftQty) > parseInt($(this).text())) {
                    Alert("Lifting more than available quantity not possible !!!", 'error');
                    e.preventDefault();
                    return false;
                }
            });
        });
    });
</script>