@model IEnumerable<Poultry.Models.ViewModels.FarmerActivity>
@{
    ViewBag.Title = "PastReports";
}

<h2>Past Reports</h2>


<p>
</p>
@if(Model.Count()>0)
{
<table>
    <tr>
        <th>
            Delivery Date
        </th>
        <th>
            Name
        </th>
        <th>
            Address
        </th>
        <th>
            Contact No.
        </th>
        <th>
            Chicks Deliverey Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.ActivityDate.ToString("dd-MMM-yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Farmer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Farmer.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Farmer.ContactNo)
        </td>
        <td>
            @item.ActivityDate.Date.ToString("dd-MMM-yyyy")
        </td>
        <td>
            @Html.ActionLink("View Report", "ViewReport", new { id=item.NoOfChicks })
        </td>
    </tr>
}

</table>
}
else
{
 <strong>Nothing to show</strong>   
}