<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Poultry Manager</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/Menu/styles.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#cssmenu').prepend('<div id="menu-button">Menu</div>');
            $('#cssmenu #menu-button').on('click', function () {
                var menu = $(this).next('ul');
                if (menu.hasClass('open')) {
                    menu.removeClass('open');
                }
                else {
                    menu.addClass('open');
                }
            });
        });


        function Alert(messege, type) {
            debugger;
            if (type == undefined)
                type = 'success';
            noty({
                layout: 'top',
                theme: 'defaultTheme',
                type: type,
                text: messege,
                dismissQueue: true, // If you want to use queue feature set this true
                template: '<div class="noty_message"><span class="noty_text"></span><div class="noty_close"></div></div>',
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 500 // opening & closing animation speed
                },
                timeout: 3000, // delay for closing event. Set false for sticky notifications
                force: false, // adds notification to the beginning of queue when set to true
                modal: false
            });
        }
    </script>


</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    <a href="javascript:void(0)">
                        <img src="@Url.Content("~/Images/9-Chicken-Hut.jpg")" style="height:100px;width:100px;" />
                    </a>
                </p>
            </div>
            <div class="float-right">

                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                @if (WebSecurity.IsAuthenticated)
                {
                    <nav>
                        <div id="cssmenu">
                            <ul>
                                <li><a href="#"><span>Home</span></a></li>
                                @if (User.IsInRole("Admin"))
                                {

                                    <li class="active has-sub"><a href="javascript:void(0)"><span>Administration</span></a>
                                        <ul>
                                            <li class="has-sub"><a href="javascript:void(0)"><span>Users</span></a>
                                                <ul>
                                                    <li><a href="@Url.Action("Supervisors", new { Controller = "Admin" })"><span>Supervisors</span></a></li>
                                                    <li class="last"><a href="@Url.Action("DEOs", new { Controller = "Admin" })"><span>Data Entry Operators</span></a></li>
                                                </ul>
                                            </li>
                                            <li><a href="@Url.Action("DailyConsumptionLog", new { Controller = "Admin" })"><span>Daily Consumption</span></a>
                                            </li>
                                            <li class="has-sub"><a href="javascript:void(0)"><span>Logs</span></a>
                                                <ul>
                                                    <li><a href="@Url.Action("VendorLogs", new { Controller = "Admin" })"><span>Vendor Logs</span></a></li>
                                                    <li class="last"><a href="#"><span>Farmer Logs</span></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                }
                                @if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
                                {

                                    <li class="active has-sub"><a href="javascript:void(0)"><span>Supervision</span></a>
                                        <ul>
                                            <li class="has-sub"><a href="#"><span>Product 1</span></a>
                                                <ul>
                                                    <li><a href="#"><span>Sub Product</span></a></li>
                                                    <li class="last"><a href="#"><span>Sub Product</span></a></li>
                                                </ul>
                                            </li>
                                            <li class="has-sub"><a href="#"><span>Product 2</span></a>
                                                <ul>
                                                    <li><a href="#"><span>Sub Product</span></a></li>
                                                    <li class="last"><a href="#"><span>Sub Product</span></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="active has-sub"><a href="javascript:void(0)"><span>Master</span></a>
                                        <ul>
                                            <li class="has-sub"><a href="javascript:void(0)"><span>Item</span></a>
                                                <ul>
                                                    <li><a href="@Url.Action("VendorItemTypes", new { Controller = "Stock" })"><span>Vendor Items</span></a></li>
                                                    <li><a href="@Url.Action("FoodItemTypes", new { Controller = "Stock" })"><span>Food Items</span></a></li>
                                                    <li class="last"><a href="@Url.Action("CreateItem", new { Controller = "Stock" })"><span>Add New Item</span></a></li>
                                                </ul>
                                            </li>
                                            <li class="has-sub"><a href="javascript:void(0)"><span>Vendor</span></a>
                                                <ul>
                                                    <li><a href="@Url.Action("Index", new { Controller = "Vendor" })"><span>List of Vendors</span></a></li>
                                                    <li class="last"><a href="@Url.Action("Create", new { Controller = "Vendor" })"><span>Add New Vendor</span></a></li>
                                                </ul>
                                            </li>
                                            <li class="has-sub"><a href="javascript:void(0)"><span>Farmer</span></a>
                                                <ul>
                                                    <li><a href="@Url.Action("Index", new { Controller = "Farmer" })"><span>List of Farmers</span></a></li>
                                                    <li class="last"><a href="@Url.Action("Create", new { Controller = "Farmer" })"><span>Add New Farmer</span></a></li>
                                                </ul>
                                            </li>
                                            <li class="has-sub"><a href="javascript:void(0)"><span>Trader</span></a>
                                                <ul>
                                                    <li><a href="@Url.Action("Index", new { Controller = "Trader" })"><span>List of Traders</span></a></li>
                                                    <li class="last"><a href="@Url.Action("Create", new { Controller = "Trader" })"><span>Add New Trader</span></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="active has-sub"><a href="javascript:void(0)"><span>Stocks</span></a>
                                        <ul>
                                            <li class="has-sub"><a href="javascript:void(0)"><span>Current Stock</span></a>
                                                <ul>
                                                    <li><a href="@Url.Action("InStockVendorItems", new { Controller = "Stock" })"><span>Vendor Items</span></a></li>
                                                    <li class="last"><a href="@Url.Action("InStockFoodItems", new { Controller = "Stock" })"><span>Food Items</span></a></li>
                                                </ul>
                                            </li>
                                            <li><a href="@Url.Action("AddVendorSupply", new { Controller = "Vendor" })"><span>Add Stock (Vendor)</span></a></li>
                                            <li><a href="@Url.Action("Withdraw", new { Controller = "Stock" })"><span>Withdraw
                                                <br />
                                                (Daily Consumption)</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                }
                                @if (User.IsInRole("Admin") || User.IsInRole("DEO"))
                                {

@*<li class="active has-sub"><a href="#"><span>Data Entry</span></a>
                                        <ul>
                                            <li class="has-sub"><a href="javascript:void(0)"><span>Vendors</span></a>
                                                <ul>
                                                    <li><a href="@Url.Action("Index", new { Controller = "Vendor" })"><span>List of Vendors</span></a></li>
                                                    <li class="last"><a href="@Url.Action("AddVendorSupply", new { Controller = "Vendor" })"><span>Add new Supply</span></a></li>
                                                </ul>
                                            </li>
                                            <li class="has-sub"><a href="javascript:void(0)"><span>Farmers</span></a>
                                                <ul>
                                                    <li><a href="@Url.Action("Index", new { Controller = "Farmer" })"><span>List of Farmers</span></a></li>
                                                    <li class="last"><a href="#"><span>Add new Delivery</span></a></li>
                                                </ul>
                                            </li>
                                            <li class="has-sub"><a href="javascript:void(0)"><span>Stocks</span></a>
                                                <ul>
                                                    <li><a href="@Url.Action("InStockChicken", new { Controller = "Stock" })"><span>Chickens</span></a></li>
                                                    <li><a href="@Url.Action("InStockVendorItems", new { Controller = "Stock" })"><span>Vendor Items</span></a></li>
                                                    <li><a href="@Url.Action("InStockFoodItems", new { Controller = "Stock" })"><span>Food Items</span></a></li>

                                                    <li><a href="#"><span>Withdrawal for Production</span></a></li>
                                                    <li class="last"><a href="#"><span>Add Stock from Production</span></a></li>
                                                </ul>
                                            </li>
                                            <li class="has-sub"><a href="javascript:void(0)"><span>Item Types</span></a>
                                                <ul>
                                                    <li><a href="@Url.Action("VendorItemTypes", new { Controller = "Stock" })"><span>Vendor Items</span></a></li>
                                                    <li><a href="@Url.Action("FoodItemTypes", new { Controller = "Stock" })"><span>Food Items</span></a></li>
                                                    <li><a href="@Url.Action("CreateItem", new { Controller = "Stock" })"><span>Create new Item</span></a></li>

                                                </ul>
                                            </li>
                                        </ul>
                                    </li>*@
                                }
                                <li><a href="#"><span>About</span></a></li>
                                <li class="last"><a href="#"><span>Contact</span></a></li>
                            </ul>
                        </div>
                    </nav>
                }
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Poultry Manager Application</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>

<script src="~/Scripts/noty/jquery.noty.packaged.js"></script>
@if (ViewBag.Messege != null)
{
    <script type="text/javascript">
        Alert('@ViewBag.Messege');
    </script>
}
