<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Poultry Manager</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/Menu/styles.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#cssmenu').prepend('<div id="menu-button">Menu</div>');
            $('#cssmenu #menu-button').on('click', function () {
                var menu = $(this).next('ul');
                if (menu.hasClass('open')) {
                    menu.removeClass('open');
                }
                else {
                    menu.addClass('open');
                }
            });

            $(document).ajaxStart(function () {
                $.blockUI({ message: '<h2><img src="/Images/loading.gif" style="height:50px" /><span style="float:right;padding-right:100px ">Just a moment...</span></h2>' })
            })
                .ajaxStop($.unblockUI);
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd-M-yy"
            });
        });


        function Alert(messege, type) {
            if (type == undefined || type == '')
                type = 'success';
            noty({
                layout: 'top',
                theme: 'defaultTheme',
                type: type,
                text: messege,
                dismissQueue: true, // If you want to use queue feature set this true
                template: '<div class="noty_message"><span class="noty_text"></span><div class="noty_close"></div></div>',
                killer: true,
                animation: {
                    open: { height: 'toggle' },
                    close: { height: 'toggle' },
                    easing: 'swing',
                    speed: 500 // opening & closing animation speed
                },
                timeout: 5000, // delay for closing event. Set false for sticky notifications
                force: false, // adds notification to the beginning of queue when set to true
                modal: false
            });
        }
    </script>


</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    <a href="/">
                        <img src="@Url.Content("~/Images/logo.png")" style="height:100px;width:100px;" />
                    </a>
                </p>
            </div>
            <div class="float-right">

                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <div id="cssmenu">
                        <ul>
                            <li><a href="/"><span>Home</span></a></li>
                            @if (WebSecurity.IsAuthenticated && User.IsInRole("Admin"))
                            {

                                <li class="active has-sub"><a href="javascript:void(0)"><span>Administration</span></a>
                                    <ul>
                                        <li class="has-sub"><a href="javascript:void(0)"><span>Users</span></a>
                                            <ul>
                                                <li><a href="@Url.Action("Supervisors", new { Controller = "Admin" })"><span>Supervisors</span></a></li>
                                                <li class="last"><a href="@Url.Action("DEOs", new { Controller = "Admin" })"><span>Data Entry Operators</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="has-sub"><a href="javascript:void(0)"><span>Cost Sheets</span></a>
                                            <ul>
                                                <li><a href="@Url.Action("AddCostSheet", new { Controller = "Admin" })"><span>Add New Cost Sheet</span></a></li>
                                                <li class="last"><a href="@Url.Action("CostSheets", new { Controller = "Admin" })"><span>Past Cost Sheets</span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            }
                            @if (WebSecurity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("DEO")))
                            {
                             
                                <li class="active has-sub"><a href="javascript:void(0)"><span>Master</span></a>
                                    <ul>
                                        <li class="has-sub"><a href="javascript:void(0)"><span>Vendor Items</span></a>
                                            <ul>
                                                <li><a href="@Url.Action("CreateItem", new { Controller = "Stock" })"><span>Add New Item</span></a></li>
                                                <li class="last"><a href="@Url.Action("VendorItemTypes", new { Controller = "Stock" })"><span>List of Items</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="has-sub"><a href="javascript:void(0)"><span>Vendor</span></a>
                                            <ul>
                                                <li><a href="@Url.Action("Create", new { Controller = "Vendor" })"><span>Add New Vendor</span></a></li>
                                                <li class="last"><a href="@Url.Action("Index", new { Controller = "Vendor" })"><span>List of Vendors</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="has-sub"><a href="javascript:void(0)"><span>Farmer</span></a>
                                            <ul>
                                                <li><a href="@Url.Action("Create", new { Controller = "Farmer" })"><span>Add New Farmer</span></a></li>
                                                <li class="last"><a href="@Url.Action("Index", new { Controller = "Farmer" })"><span>List of Farmers</span></a></li>
                                                @*<li><a href="@Url.Action("ActiveFarmers", new { Controller = "Farmer" })"><span>Active Farmers</span></a></li>
                                                <li><a href="@Url.Action("InactiveFarmers", new { Controller = "Farmer" })"><span>Inactive Farmers</span></a></li>*@
                                            </ul>
                                        </li>
                                        <li class="has-sub"><a href="javascript:void(0)"><span>Trader</span></a>
                                            <ul>
                                                <li><a href="@Url.Action("Create", new { Controller = "Trader" })"><span>Add New Trader</span></a></li>
                                                <li class="last"><a href="@Url.Action("Index", new { Controller = "Trader" })"><span>List of Traders</span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="active has-sub"><a href="javascript:void(0)"><span>Stock</span></a>
                                    <ul>
                                        <li class="has-sub"><a href="javascript:void(0)"><span>Add Stock</span></a>
                                            <ul>
                                                <li><a href="@Url.Action("AddVendorSupply", new { Controller = "Vendor" })"><span>From Vendor</span></a></li>
                                                <li class="last"><a href="@Url.Action("AddStock", new { Controller = "Stock" })"><span>From Daily Production</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="has-sub"><a href="javascript:void(0)"><span>Withdraw Stock</span></a>
                                            <ul>
                                                <li><a href="@Url.Action("Withdraw", new { Controller = "Stock" })"><span>For Daily Consumption</span></a></li>
                                                <li class="last"><a href="@Url.Action("Delivery", new { Controller = "Farmer" })"><span>Farmer Delivery</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="has-sub"><a href="javascript:void(0)"><span>Current Stock</span></a>
                                            <ul>
                                                <li><a href="@Url.Action("InStockVendorItems", new { Controller = "Stock" })"><span>Vendor Items</span></a></li>
                                                <li class="last"><a href="@Url.Action("InStockFoodItems", new { Controller = "Stock" })"><span>Food Items</span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>   
                            }
                            @if (WebSecurity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Supervisor")))
                            {

                                <li class="active has-sub"><a href="javascript:void(0)"><span>Supervision</span></a>
                                    <ul>
                                        <li><a href="@Url.Action("ActiveFarmers", new { Controller = "Supervision" })"><span>Active Farmers</span></a>
                                        </li>
                                        <li><a href="@Url.Action("Lifting", new { Controller = "Supervision" })"><span>Lifting</span></a>
                                        </li>
                                        @*<li class="active has-sub"><a href="javascript:void(0)"><span>Payment</span></a>
                                            <ul>
                                                <li><a href="@Url.Action("VendorPayments", new { Controller = "Supervision" })"><span>Vendor</span></a>
                                                </li>
                                                <li><a href="@Url.Action("TraderPayments", new { Controller = "Supervision" })"><span>Trader</span></a>
                                                </li>
                                            </ul>
                                        </li>*@
                                    </ul>
                                </li>
                                
                            }
                            @if (WebSecurity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <li class="active has-sub"><a href="javascript:void(0)"><span>Reports</span></a>
                                    <ul>
                                        <li><a href="@Url.Action("VendorLogs", new { Controller = "Admin" })"><span>Vendor Delivery</span></a>
                                        </li>
                                        <li><a href="@Url.Action("DailyConsumptionLog", new { Controller = "Admin" })"><span>Daily Consumption</span></a>
                                        </li>
                                        <li><a href="@Url.Action("FarmerLogs", new { Controller = "Admin" })"><span>Farmer Delivery</span></a>
                                        </li>
                                        <li><a href="@Url.Action("PastReports", new { Controller = "Supervision" })"><span>Supervision</span></a>
                                        </li>
                                        <li><a href="@Url.Action("LiftingLogs", new { Controller = "Admin" })"><span>Lifting</span></a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            <li class="last"><a href="/Home/Contact"><span>Contact</span></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Poultry Manager Application</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>

<script src="~/Scripts/noty/jquery.noty.packaged.js"></script>
@if (ViewBag.Messege != null)
{
    <script type="text/javascript">
        Alert('@ViewBag.Messege', '@(ViewBag.MessegeType == null ? "" : ViewBag.MessegeType)'); 
    </script>
}

<script src="~/Scripts/jquery.blockUI.js"></script>
@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/themes/base/css")