@model Poultry.Models.Item

@{
    ViewBag.Title = "Edit Item";
    var _typeList = (SelectList)ViewBag.TypeList;
}

<h2>Edit Item</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Item</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Unit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Unit)
            @Html.ValidationMessageFor(model => model.Unit)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.DropDownList("Type", _typeList, Model.Type.ToString(),new { data_val_required = "Please select a type for this item.", data_val = "true" })
            @Html.ValidationMessageFor(model => model.Type)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", Model.Type==Poultry.Models.StockType.VendorItem?"VendorItemTypes":"FoodItemTypes")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
