@model IEnumerable<Poultry.Models.Item>

@{
    ViewBag.Title = "Food Item Types";
}

<h2>Food Item Types</h2>

<p>
    @Html.ActionLink("Create New", "CreateItem")
</p>
@if(Model.Count()>0)
{
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditItem", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteItem", new { id=item.Id })
        </td>
    </tr>
}

</table>
}
else
{
 <strong>No Items Registered.<br /> Please Create New Items from Menu.</strong>   
}