@model Tuple<IEnumerable<Poultry.Models.Stock>,IEnumerable<Poultry.Models.Stock>>

@{
    ViewBag.Title = "In Stock (Vendor Items)";
}

@{Html.RenderPartial("InStockChicken", Model.Item2);}

<h2>In Stock (Vendor Items)</h2>

<fieldset style="padding-top:20px;">
    <legend>Stock</legend>
    @if (Model.Item1.Count() > 0)
    {
    <table>
        <tr>
            <th>Items
            </th>
            <th>Quantity
            </th>
        </tr>
        @foreach (var m in Model.Item1)
        {
            <tr>
                <td class="display-label">
                    @Html.DisplayName(m.Item.Name)
                </td>
                <td class="display-field">
                    @Html.DisplayName(m.Quantity.ToString()) @m.Item.Unit
                </td>
            </tr>
        }
    </table>
    }
    else
    {
     <strong>Empty.<br /> Please Add Items from Vendor Menu.</strong>   
    }
</fieldset>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
