@model IEnumerable<Poultry.Models.Item>

@{
    ViewBag.Title = "Vendor Item Types";
}


<h2>Master >> Vendor Items >> Vendor Item Types</h2>

<p>
    @Html.ActionLink("Create New", "CreateItem")
</p>
@if(Model.Count()>0)
{
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit)
        </th>
        <th>Operations</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditItem", new { id=item.Id }) |
            <a class="delete" href="/Stock/DeleteItem/@item.Id">Delete</a>
            @*@Html.ActionLink("Delete", "DeleteItem", new { id=item.Id,@class="delete" })*@
        </td>
    </tr>
}
    
</table>
    <div id="PageList" style="width: 100%; text-align: right; padding-top:10px">
    @if (ViewBag.Paging)
    {
        for (int i = 0; i * ViewBag.PazeSize < ViewBag.Count; i++)
        {
            if (i >= ViewBag.Page - 1 && i <= ViewBag.Page + 1)
            {
                if (i > 2 && i == ViewBag.Page - 1)
                {
            <span style="padding: 3px; font-size: xx-large;">.</span>
            <span style="padding: 3px; font-size: xx-large;">.</span>
                }
            <span style="padding: 3px;">
                @if (ViewBag.Page == i)
                {
                    <strong style="background-color:coral">@Html.DisplayName((i + 1).ToString())</strong>
                }
                else
                {
                    @Html.ActionLink((i + 1).ToString(), "VendorItemTypes", new { page = (i + 1).ToString() })
                }
            </span>
                if (i * ViewBag.PazeSize < ViewBag.Count - (ViewBag.PazeSize * 3) && i == ViewBag.Page + 1)
                {
            <span style="padding: 3px; font-size: xx-large;">.</span>
            <span style="padding: 3px; font-size: xx-large;">.</span>
                }
            }
            else
            {
                if (i <= 1 || i * ViewBag.PazeSize >= ViewBag.Count - (ViewBag.PazeSize * 2))
                {
            <span style="padding: 3px;">
                    @Html.ActionLink((i + 1).ToString(), "VendorItemTypes", new { page = (i + 1).ToString() })
            </span>
                }
            }
        }
    }
    else
    {
        @Html.ActionLink("Back to List", "Index")
    }
</div>
}
else
{
 <strong>No Items Registered.<br /> Please Create New Items from Menu.</strong>   
}
<script type="text/javascript">
    var deleteHref = "";
    $(".delete").click(function (e) {
        e.preventDefault();
        deleteHref = $(this).attr('href');
        //noty({
        //    type: 'confirm',
        //    dismissQueue: true,
        //    text:'Are sure to delete?'
        //});
        noty({
            text: 'Do you really want to delete this item?',
            buttons: [
                {
                    addClass: 'btn btn-primary', text: 'Ok', onClick: function ($noty) {

                        // this = button element
                        // $noty = $noty element

                        $noty.close();
                        window.location.href = deleteHref;
                    }
                },
                {
                    addClass: 'btn btn-danger', text: 'Cancel', onClick: function ($noty) {
                        $noty.close();
                    }
                }
            ]
        });
    });
</script>