@{
    ViewBag.Title = "Add Farmer Delivery";
    var _farmerList = (SelectList)ViewBag.FarmerList;
    var _itemList = (SelectList)ViewBag.ItemList;
    var _availableChicks = (int)ViewBag.AvailableChicken;
}



@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "VendorSupplyForm" }))
{
    <h2 style="float:left">Stock >> Withdraw >> Farmer Delivery on :</h2>
    <input type="text" class="datepicker" name="Date" value="@DateTime.Now.ToString("dd-MMM-yyyy")" style="margin-top: 23px; margin-left: 5px; width:20%" />

    <p>
        <input type="button" id="AddItemInput" value="Add More Item" />
        <input type="button" id="AddChicken" value="Add Chickens" />
    </p>
    <strong>Select Farmer : </strong>
    @Html.DropDownList("FarmerId", _farmerList, "Select farmer", new { data_val_required = "Please Select a Farmer first.", data_val = "true" })
    <br />
    <br />
    <div data-valmsg-summary="true" class="validation-summary-valid">
        <ul>
            <li style="display: none"></li>
        </ul>
    </div>
    <div id="ChickenContainer">
    </div>
    <div>
        <table id="container" style="padding: 10px; padding-left: 15px;">
            <tr>
                <th>Item</th>
                <th>Availablity</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th></th>
            </tr>
            <tr class="inputItems">
                <td>
                    @Html.DropDownList("[0].Item.Id", _itemList, "Select Item", new {  @class = "itemSelect" })
                </td>
                <td>
                    <strong class="availableStock">- -</strong> <strong class="unit"></strong>
                    <input type="hidden" class="hidAvailableStock" />
                </td>
                <td>
                    @Html.TextBox("[0].Quantity", "", new { @class = "qty validate-numberonly " })
                </td>
                <td>
                    <span class="unit"></span>
                </td>
                <td>
                    <a href="javascript:void(0)" class="remove">Remove</a>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <strong>Advance Payment : </strong>
        <input type="text" name="AdvancePayment" class="validate-numberonly"/>
    </div>
    <div>
        <strong>Payment Mode : </strong>
        @*<input type="text" name="PaymentMode" />*@

         <select name="PaymentMode" >
          <option value="By Cash">By Cash</option>
          <option value="By Cheque">By Cheque</option>
          <option value="Online Transfer">Online Transfer</option>
        </select> 
    </div>
    <div>
        <p>
            <input type="submit" value="Add Supply" id="btnSubmit"/>
        </p>
    </div>
}
<table style="display: none" id="temp">
    <tr class="inputItems">
        <td>
            @Html.DropDownList("[0].Item.Id", _itemList, "Select Item", new {  @class = "itemSelect" })
        </td>
        <td>
            <strong class="availableStock">- -</strong> <strong class="unit"></strong>
            <input type="hidden" class="hidAvailableStock" />
        </td>
        <td>
            @Html.TextBox("[0].Quantity", "", new {  @class = "qty validate-numberonly" })
        </td>
        <td>
            <span class="unit"></span>
        </td>
        <td>
            <a href="javascript:void(0)" class="remove">Remove</a>
        </td>
    </tr>
</table>
<div id="tempChicken" style="display: none">
    <div>
        <strong style="padding-left: 5px; padding-right: 5px;">Chickens : </strong>
        @Html.TextBox("ChickCount", "", new { @class="validate-numberonly" })
        <strong>Available : </strong><strong id="chickCount">@ViewBag.AvailableChicken</strong>
        <a href="javascript:void(0)" class="remove Chicken">Remove</a>
    </div>
</div>
<script type="text/javascript">
    var item;
    $(document).ready(function () {
        var availableChicks = @_availableChicks
        $('#AddItemInput').click(function () {
            $('#container').append($('#temp').html());
            ReOrder();
        });
        $('#AddChicken').click(function () {
            if ($('#ChickenContainer').find('div').length == 0) {
                $('#ChickenContainer').html($('#tempChicken').html());
                ReOrder();
            }
        });
        $(document).on('change', '.itemSelect', function (e) {
            var itemId = $(this).val();
            itemRow = $(this).parent().parent();
            if (itemId == '') {
                itemRow.find('.unit').text('');
                itemRow.find('.availableStock').text('- -');
                itemRow.find('.hidAvailableStock').val('');
            }
            $.get("/api/Service/GetCurrentStock", { ItemId: itemId }, function (data) {
                if (data.Success) {
                    itemRow.find('.unit').text(data.Data[0].Item.Unit);
                    if (!isNaN(parseInt(itemRow.find('input:text').val())))
                        itemRow.find('.availableStock').text(data.Data[0].Quantity - parseInt(itemRow.find('input:text').val()));
                    else
                        itemRow.find('.availableStock').text(data.Data[0].Quantity);
                    itemRow.find('.hidAvailableStock').val(data.Data[0].Quantity);
                }
                else {
                    Alert(data.Messege);
                }
            }, "json");
        });
        $(document).on('click', '.remove', function () {
            if (!$(this).hasClass('Chicken')) {
                $(this).parent().parent().remove();
                ReOrder();
            }
            else {
                $(this).parent().remove();
            }
        });
    });
    $(document).on('keydown', '.validate-numberonly', function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
            // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40) ||
            (e.ctrlKey)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
    $(document).on('keyup', '.qty', function (e) {
        item = $(this);
        if (!isNaN(parseInt(e.keyCode)) || e.keyCode == 8) {
            //if (!isNaN(parseInt(e.keyCode))) $(item).val($(item).val() + e.keyCode);
            var qtyInputs = $(item).parent().parent().find('.qty');
            var total = 0;
            qtyInputs.each(function (e) {
                if (!isNaN(parseInt($(this).val())))
                    total += parseInt($(this).val());
            });
            $($(item).parent().parent().find('.total')[0]).text(total);
            $($(item).parent().parent().find('.hidTotal')[0]).val(total)
            var stockShow = $(item).parent().parent().find('.availableStock');
            if (!isNaN(parseInt(stockShow.text()))) {
                var current = $(item).parent().parent().find('.hidAvailableStock').val() - total;
                stockShow.text(current);
                if (current < 0) {
                    Alert("Stock not available !!!", 'error');
                }
            }
        }
        //}, 0);
    });
    function ReOrder() {
        var InputItems = $('#container').find('.inputItems');
        var i = 0;
        $(InputItems).each(function () {
            $(this).find('.itemSelect').attr('name', '[' + i + '].Item.Id');
            $(this).find('.qty').attr('name', '[' + i + '].Quantity');
            i++;
        });
    }

    $("#btnSubmit").click(function (e) {
        if ($('#FarmerId').val()=='') {
            Alert("Please select a farmer for delivery !!!", 'error');
            e.preventDefault();
            return false;   
        }
        if ($("#ChickCount").is(':visible')) {
            if ($("#ChickCount").val() == '') {
                Alert("Please fill chicken quantity for delivery !!!", 'error');
                e.preventDefault();
                return false;
            }
            var chickval = parseInt($("#chickCount").text());
            if (chickval - parseInt($("#ChickCount").val()) < 0) {
                Alert("Chicken not available !!!", 'error');
                e.preventDefault();
                return false;
            }
        }
        var itemSelect = $('.itemSelect:visible');
        if (itemSelect.length == 0 && !$("#ChickCount").is(':visible')) {
            Alert("Please select items for delivery !!!", 'error');
            e.preventDefault();
            return false;
        }
        for (var i = 0; i < itemSelect.length; i++) {
            if ($(itemSelect[i]).val() == '') {
                Alert("Either select valid items or remove please remove it !!!", 'error');
                e.preventDefault();
                return false;
            }
        }
        var availableStock = $('.availableStock:visible');
        for (var i = 0; i < availableStock.length; i++) {
            try {
                var stock = parseInt($(availableStock[i]).text());
                if (isNaN(stock) || stock < 0)
                    throw "ERROR";
            }
            catch (ex) {
                Alert("Stock not available !!!", 'error');
                e.preventDefault();
                return false;
            }
        }

        var qty = $(".qty:visible");
        for (var i = 0; i < qty.length; i++) {
            if ($(qty[i]).val() == '') {
                Alert("Please fill item quantity for delivery !!!", 'error');
                e.preventDefault();
                return false;
            }
        }

    });
</script>


