@model IEnumerable<Poultry.Models.Farmer>

<h2>Master >> Farmers List</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (Model.Count() > 0)
{
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNo)
            </th>
            <th>Active?
            </th>
            <th>Operations</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNo)
                </td>
                <td>
                    @if (item.IsActive)
                    {
                        <span>Yes</span>
                    }
                    else
                    {
                        <span>No</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    <div id="PageList">
        @if (ViewBag.Paging)
        {
            for (int i = 0; i * ViewBag.PazeSize < ViewBag.Count; i++)
            {
                if (i >= ViewBag.Page - 1 && i <= ViewBag.Page + 1)
                {
                    if (i > 2 && i == ViewBag.Page - 1)
                    {
            <span>.</span>
            <span>.</span>
                    }
            <span>
                @if (ViewBag.Page == i)
                {
                    <a class="pageSelect">@Html.DisplayName((i + 1).ToString())</a>
                }
                else
                {
                    @Html.ActionLink((i + 1).ToString(), "Index", new { page = (i + 1).ToString() })
                }
            </span>
                if (i * ViewBag.PazeSize < ViewBag.Count - (ViewBag.PazeSize * 3) && i == ViewBag.Page + 1)
                {
            <span>.</span>
            <span>.</span>
                }
                }
                else
                {
                    if (i <= 1 || i * ViewBag.PazeSize >= ViewBag.Count - (ViewBag.PazeSize * 2))
                    {
            <span>
                @Html.ActionLink((i + 1).ToString(), "Index", new { page = (i + 1).ToString() })
            </span>
                    }
                }
            }
        }
        else
        {
            @Html.ActionLink("Back to List", "Index")
        }
    </div>
}
else
{
    <strong>Empty.<br />
        Please Add Farmers First.</strong>   
}