@model IEnumerable<Poultry.Models.ConsumptionLog>

@{
    ViewBag.Title = "Daily Consumption Reports";
}

<h2>Reports >> Daily Consumption Reports</h2>

<div id="DateSelecter" class="searchCriteria">
    <strong>From :</strong>
    <input type="text" id="fromDate" class="datepicker"  value="@DateTime.Now.AddDays(-7).ToString("dd-MMM-yyyy")"/>
    <strong>To :</strong>
    <input type="text" id="toDate" class="datepicker"  value="@DateTime.Now.ToString("dd-MMM-yyyy")"/>
    <input type="button" id="search" value="Search" style="margin-left: 10px" />
</div>

<strong id="messegeinfo">Please Select Search Criteria</strong>
<div id="logContainer"  style="display:none">
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>Item
            </th>
            <th>Quantity
            </th>
            <th>Ratio
            </th>
            <th>For
            </th>
        </tr>
    </table>
</div>
@*<div id="PageList" style="width: 100%; text-align: right; padding-top:10px">
    @if (ViewBag.Paging)
    {
        for (int i = 0; i * ViewBag.PazeSize < ViewBag.Count; i++)
        {
            if (i >= ViewBag.Page - 1 && i <= ViewBag.Page + 1)
            {
                if (i > 2 && i == ViewBag.Page - 1)
                {
            <span style="padding: 3px; font-size: xx-large;">.</span>
            <span style="padding: 3px; font-size: xx-large;">.</span>
                }
            <span style="padding: 3px;">
                @if (ViewBag.Page == i)
                {
                    <strong style="background-color:coral">@Html.DisplayName((i + 1).ToString())</strong>
                }
                else
                {
                    @Html.ActionLink((i + 1).ToString(), "VendorItemTypes", new { page = (i + 1).ToString() })
                }
            </span>
                if (i * ViewBag.PazeSize < ViewBag.Count - (ViewBag.PazeSize * 3) && i == ViewBag.Page + 1)
                {
            <span style="padding: 3px; font-size: xx-large;">.</span>
            <span style="padding: 3px; font-size: xx-large;">.</span>
                }
            }
            else
            {
                if (i <= 1 || i * ViewBag.PazeSize >= ViewBag.Count - (ViewBag.PazeSize * 2))
                {
            <span style="padding: 3px;">
                    @Html.ActionLink((i + 1).ToString(), "VendorItemTypes", new { page = (i + 1).ToString() })
            </span>
                }
            }
        }
    }
    else
    {
        @Html.ActionLink("Back to List", "Index")
    }
</div>*@
<script type="text/javascript">
    $(document).ready(function () {
        //$(document).on("DOMSubtreeModified", '#logContainer', function () {
        //    var tr = $(this).find('tr').length;
        //    if (tr > 1) $(this).show();
        //    else $(this).hide();
        //});
        $('#search').click(function () {
            var start = $('#fromDate').val();
            var end = $('#toDate').val();
            var farmerId = $('#FarmerId').val();
            $.get("/Admin/GetConsumptionLogByDate?start=" + start + "&end=" + end, function (data) {
                var header = '<tr>' + $("#logContainer").find('tr').first().html() + '</tr>';
                $("#logContainer").html(header + data);
                $("#logContainer").show();
                $('#messegeinfo').remove();
            });
        });
    });
</script>