@model Poultry.Models.FarmerLog
@{
    int _totalPrice = 0;
}
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayName("Farmer")
        </th>
        <th>
            @Html.DisplayName("Item")
        </th>
        <th>
            @Html.DisplayName("Quantity")
        </th>
        <th>
            Payment
        </th>
        <th>
            Payment By
        </th>
    </tr>
    <tr>
        <td>
            @Model.Date.ToString("dd-MMM-yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Farmer.Name)
        </td>
        <td></td>
        <td></td>
        <td>Rs. @Model.Payment</td>
        <td>@Model.PaymentMethod</td>
    </tr>
    @foreach (var item in Model.Items)
    {
        _totalPrice += item.Price;
        <tr>
            <td></td>
            <td></td>
            <td>
                @item.Item.Name
            </td>
            <td>
                @item.Qty @item.Item.Unit
            </td>   
            <td></td>
            <td></td>
        </tr>
    }
@*    <tr>
        <td></td>
        <td></td>
        <td><strong>Total Price :</strong></td>
        <td></td>
        <td><strong>Rs. @_totalPrice</strong></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><strong>Amount paid :</strong></td>
        <td></td>
        <td><strong>Rs. @Model.Payment</strong></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><strong>Amount due :</strong></td>
        <td></td>
        <td><strong>Rs. @(_totalPrice - Model.Payment)</strong></td>
    </tr>*@
    

</table>
