@model Poultry.Models.Lifting
    <tr>
        <td>
            @Model.Date.ToString("dd-MMM-yyyy")
        </td>
        <td>
            @Model.TraderLog.Trader.Name
        </td>
        <td>
            @Model.TraderLog.ChickenCount
        </td>
        <td>
            @Model.TraderLog.Price
        </td>
        <td>
            @Model.TraderLog.Payment
        </td>
        <td>
            @Model.TraderLog.PaymentMethod
        </td>
    </tr>
