@model IEnumerable<Poultry.Models.VendorLog>

@{
    ViewBag.Title = "Vendor Delivery Reports";
    var _vendorList = (SelectList)ViewBag.VendorList;
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <style>
        .datepicker {
            width: 15%;
        }

        .searchCriteria {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>
}
<h2>Reports >> Vendor Delivery Report</h2>
<br />
@*<div>
    <strong>Search By : </strong>
    <select id="SearchSelecter">
        <option value="">--- select ---</option>
        <option value="Date">Date</option>
        <option value="Vendor">Vendor</option>
    </select>
</div>*@
<div id="DateSelecter" class="searchCriteria">
    <strong>From :</strong>
    <input type="text" id="fromDate" class="datepicker" value="@DateTime.Now.AddDays(-7).ToString("dd-MMM-yyyy")"/>
    <strong>To :</strong>
    <input type="text" id="toDate" class="datepicker"  value="@DateTime.Now.ToString("dd-MMM-yyyy")"/>
    <strong>Delivered by (Vendor) :</strong>
    @Html.DropDownList("VendorId", _vendorList, "---Any---")
    <input type="button" id="search" value="Search" style="margin-left:10px"/>
</div>
<div id="VendorSelecter" class="searchCriteria">
</div>
<div id="logContainer" style="margin-top: 20px; margin-bottom: 20px;">
    @if (Model != null && Model.Count() > 0)
    {
        foreach (var trans in Model)
        {
            Html.RenderPartial("VendorLogPages", trans);
        }
    }
    else
    {
        <strong>Please Select Search Criteria.</strong>   
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-mm-yy"
        });
        $('#SearchSelecter').change(function () {
            $('.searchCriteria').hide();
            $(this).find('option[value=""]').remove();
            var selectedValue = $(this).val();
            switch (selectedValue) {
                case "Date":
                    $('#DateSelecter').show();
                    break;
                case "Vendor":
                    $('#selectVendor').empty().append($('<option>').html('--- select ---'));
                    $.get("/api/Service/VendorList?list=", "", function (data) {
                        $(data).each(function () {
                            $('<option>').attr('value', this.Id).html(this.Name).appendTo('#selectVendor');
                        });
                    });
                    $('#VendorSelecter').show();
                    break;
                case "Item":
                    $('#selectItem').empty().append($('<option>').html('--- select ---'));
                    $.get("/api/Service/ItemList?item=", "", function (data) {
                        $(data).each(function () {
                            $('<option>').attr('value', this.Id).html(this.Name).appendTo('#selectVendor');
                        });
                    });
                    break;
            }
        });
        $('#selectVendor').change(function () {
            var selectedValue = $(this).val();
            $(this).find('option[value=""]').remove();
            $.get("/Admin/GetVendorLogById?Id=" + selectedValue, "", function (data) {
                $("#logContainer").empty().append(data);
            });
        });
        $('#search').click(function () {
            var start = $('#fromDate').val();
            var end = $('#toDate').val();
            var vendorId = $('#VendorId').val();
            $.get("/Admin/GetVendorLogByDateAndVendor?start=" + start + "&end=" + end + "&vendorId=" + vendorId, "", function (data) {
                $("#logContainer").empty().append(data);
            });
        });
    });
</script>
