@model Poultry.Models.VendorLog
@{
    int _totalPrice = 0;
}
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayName("Vendor")
        </th>
        <th>
            Folio No.
        </th>
        <th>
            @Html.DisplayName("Item")
        </th>
        <th>
            @Html.DisplayName("Quantity")
        </th>
        <th>
            @Html.DisplayName("Price")
        </th>
    </tr>
    <tr>
        <td>
            @Model.Date.ToString("dd-MMM-yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Vendor.Name)
        </td>
        <td>@Html.DisplayFor(modelItem=>modelItem.FolioNo)</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var item in Model.Items)
    {
        _totalPrice += item.Price;
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                @item.Item.Name
            </td>
            <td>
                @item.Qty @item.Item.Unit
            </td>
            <td><img src ="/images/rupees.png" height="16px" width="16px"/> @item.Price
            </td>
        </tr>
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="total">Total Price :</td>
        <td></td>
        <td class="total"><img src ="/images/rupees.png" height="16px" width="16px"/> @_totalPrice</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="paid">Amount paid :</td>
        <td></td>
        <td class="paid"><img src ="/images/rupees.png" height="16px" width="16px"/> @Model.Payment</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="due">Amount due :</td>
        <td></td>
        <td class="due"><img src ="/images/rupees.png" height="16px" width="16px"/> @(_totalPrice - Model.Payment)</td>
    </tr>
    

</table>
